@tailwind base;
@tailwind components;
@tailwind utilities;

.sc {
  font-size: 2rem;
  font-weight: bold;
  font-family: cursive;
  color: rgb(108, 7, 240);
}
.svg {
  width: 35px;
  height: 35px;
}

/* cards css */

body {
  background-color: #f5f5f5;
  color: #111;
}

.card,
.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  width: 300px;
  background: white;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
  transition: 0.3s;
  border: 2px solid transparent;
  /* background: linear-gradient(to right, #9eb7dd, #bae0c7, #d8dad3); */
}
.card:hover,
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover {
  border-color: #1d39cd;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(54, 50, 50, 0.18);
  box-shadow: 0 8px 32px 0 rgba(119, 107, 107, 0.438);
}

.card:hover {
  background-color: #e1e6ff;
}
.card1:hover {
  background-color: #ffece1;
}
.card2:hover {
  background-color: #e1ffe3;
}
.card3:hover {
  background-color: #b5abca;
}
.card4:hover {
  background-color: #ffe1ed;
}
.card5:hover {
  background-color: #e1faff;
}
.card6:hover {
  background-color: #fcffe1;
}
.but {
  border: none;
  outline: none;
  background: #5e4e85;
  color: #fff;
  border-radius: 10px;
  max-width: 120px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid;
}
a:link {
  text-decoration: none;
}
.but:hover {
  background: transparent;
  color: #1d39cd;
}

.hf {
  height: 20px;
}




/* //for darkmod */
body {
  /* padding: 25px; */
  background-color: white;
  color: black;
  
}
.dark-mode {
  background-color: grey;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}


/* .app {
  display: flex;
  min-height: 100vh;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 9.7rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 99px;
  border-color: white;
  border-width: 1px;
  background-color: #2e3047;
  cursor: pointer;
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 55%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 2.5px;
  place-items: center;
  border-radius: 99px;
  background-color: #fff;
  transition-duration: 0.25s;
}

.hamburger > span::before {
  content: "";
  top: -8px;
}
.hamburger > span::after {
  content: "";
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
  flex: 1 1 0;
  max-width: 300px;
  padding: 2rem 1rem;
  background-color: #2e3047;
}

.sidebar h3 {
  color: #707793;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.sidebar .menu {
  margin: 0 -1rem;
}

.sidebar .menu .menu-item {
  display: block;
  padding: 1em;
  color: #fff;
  text-decoration: none;
  transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  color: #3bba9c;
  border-right: 5px solid #3bba9c;
}

.sidebar .menu .menu-item:hover {
  border-right: 5px solid #3bba9c;
}

.content {
  flex: 1 1 0;
  padding: 2rem;
}

.content h1 {
  color: #3c3f58;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  color: #707793;
}

@media (max-width: 1024px) {
  .sidebar {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .content {
    padding-top: 8rem;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 20px;
    max-width: 300px;
    transition: 0.2s linear;
  }

  .sidebar.is-active {
    left: 0;
  }
} */
